* {
    box-sizing: border-box;
}

:root {
    /* https://coolors.co/a44200-f7b32b-f5f5f5-1c190d-e52210 */

    --redish: #e52210;
    --light-redish: #e56250;
    --vlight-redish: #f5d2c0;
    --whiteish: #f5f5f5;
    --greyish: #bbb;
    --vlight-greyish: #eee;
    --blackish: #2c292d;
    --yellowish: #F7B32B;
    --greenish: #22b510;
    --vlight-greenish: #d2f5c0;
    
    --header-background-color: var(--redish);
    --header-text-color: var(--whiteish);

    --main-background-color: var(--whiteish);
    --main-text-color: var(--blackish);
    --main-link-color: var(--redish);

    --footer-background-color: var(--blackish);
    --footer-text-color: var(--whiteish);
    --footer-link-color: var(--yellowish);
    --footer-link-color: var(--light-redish);

    --status-text-color: var(--blackish);
    --status-background-color: var(--whitish);
    --status-border-color: var(--blackish);

    --status-inactive-text-color: var(--greyish);
    --status-inactive-background-color: var(--whitish);
    --status-inactive-border-color: var(--greyish);

    --status-waiting-text-color: var(--blackish);
    --status-waiting-background-color: var(--vlight-greyish);
    --status-waiting-border-color: var(--blackish);

    --status-success-text-color: var(--blackish);
    --status-success-background-color: var(--vlight-greenish);
    --status-success-border-color: var(--greenish);

    --status-error-text-color: var(--blackish);
    --status-error-background-color: var(--vlight-redish);
    --status-error-border-color: var(--redish);
    
}

:root {
    --main-font: "Domine", serif;
    --header-font: "Anton", san-serif;

    font-family: var(--main-font);
}

body {
    min-height: 100vh; /* fill the viewport */
    background-color: var(--footer-background-color);
}

header > *,
main > *,
footer > * {
    max-width: 40rem;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header {
    padding: 0.5rem 0 0.5rem 0;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header h1 a {
    text-decoration: none;
    color: var(--header-text-color);
}

main {
    padding: 4rem 0 4rem 0;
}

footer {
    padding: 2rem 0 2rem 0;
}


/* -- header -- */


header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
}

header {
    /*text-align: center;*/
}

header h1 {
    font-family: var(--header-font);
    font-variant: small-caps;
    font-size: 40pt;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

header #the {
    /*writing-mode: sideways-lr;
    font-size: 26pt;
    text-transform: uppercase;
    font-variant: none;
    margin-right: -0.2em;*/
}

header #the {
    font-variant: small-caps;
    text-transform: uppercase;
    font-variant-position: super;
    font-family: var(--main-font);
    position: relative;
    top: -0.05em;
}

header #big {
    text-transform: uppercase;
}



/* -- main -- */

main {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

main a,
main a:hover,
main a:visited
{
    color: var(--main-link-color);
}


/* -- footer -- */

footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
}

footer a,
footer a:hover,
footer a:visited
{
    color: var(--footer-link-color);
}

footer {
    text-align: center;
    font-size: 80%;
}

footer p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer p:first-child {
    margin-top: 1rem;
}


/* -- other -- */

#edit-link {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#edit-link::before {
    content: "‖ ";
}

#edit-link::after {
    content: " ‖";
}


/* -- text styles -- */

main p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    margin-top: 2rem;
}



/* -- forms -- */

button {
    padding: 0.4em;
}

textarea {
    width: 100%;
    height: 10em;
}


/* -- update status UI -- */

#status-messages {
    display: none;
}

.status-progress > span {
    /*display: none;*/
}

#status-messages > div {
    color: var(--status-text-color);
    background-color: var(--status-background-color);
    border: 1px solid var(--status-border-color);
}


#status-messages > div.status-inactive {
    color: var(--status-inactive-text-color);
    background-color: var(--status-inactive-background-color);
    border: 1px solid var(--status-inactive-border-color);
}

#status-messages > div.status-waiting {
    color: var(--status-waiting-text-color);
    background-color: var(--status-waiting-background-color);
    border: 1px solid var(--status-waiting-border-color);
}

#status-messages > div.status-success {
    color: var(--status-success-text-color);
    background-color: var(--status-success-background-color);
    border: 1px solid var(--status-success-border-color);
}

#status-messages > div.status-error {
    color: var(--status-error-text-color);
    background-color: var(--status-error-background-color);
    border: 1px solid var(--status-error-border-color);
}

#status-messages {
    border: 1px solid var(--greyish);
    /*background-color: var(--greyish);*/
    padding: 0.5rem;
}

#status-messages > div {
    padding: 1rem;
    margin-bottom: 0.5rem;
}

#status-messages > div:last-child {
    margin-bottom: 0;
}

#status-messages > div > div:first-child {
    display: flex;
    justify-content: space-between;
}

.status-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.status-progress > * {
    margin: 1rem;
    text-align: center;
}

.status-progress > .status-waiting > img {
    width: 1rem;
    height: 1rem;
}

#status-eth-complete > div > div {
    width: 100%;
    text-align: center;
}

#reload-button {
    margin: 1rem;
}

.status-error-msg {
    display: none;
    border: 1px solid var(--status-error-color);
}

.status-error-msg > p {
    margin: 1rem;
}

#status-ipfs-cid,
#status-eth-account,
#status-eth-tx-hash,
#status-eth-confirmations {
    font-family: mono;
}
