:root {
    box-sizing: border-box;
}

:root {
    /* https://coolors.co/a44200-f7b32b-f5f5f5-1c190d-e52210 */

    --redish: #e52210;
    --whiteish: #f5f5f5;
    --blackish: #1c190d;
    --yellowish: #F7B32B;
    
    --header-background-color: var(--redish);
    --header-text-color: var(--whiteish);

    --footer-background-color: var(--blackish);
    --footer-text-color: var(--whiteish);
    --footer-link-color: var(--yellowish);

    --main-background-color: var(--whiteish);
    --main-text-color: var(--blackish);
}

:root {
    --main-font: "Domine", serif;
    

    font-family: var(--main-font);
}

body {
    min-height: 100vh; /* fill the viewport */
    background-color: var(--footer-background-color);
}

header > *,
article > *,
footer > * {
    max-width: 80ch;
    margin: auto;
}

header {
    padding: 0.5rem 0 0.5rem 0;
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

article {
    padding: 4rem 0 4rem 0;
}

footer {
    padding: 2rem 0 2rem 0;
}


/* -- header -- */


header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
}

header {
    /*text-align: center;*/
}

header h1 {
    font-family: "Anton", san-serif;
    font-variant: small-caps;
    font-size: 40pt;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

header #the {
    /*writing-mode: sideways-lr;
    font-size: 26pt;
    text-transform: uppercase;
    font-variant: none;
    margin-right: -0.2em;*/
}

header #the {
    font-variant: small-caps;
    text-transform: uppercase;
    font-variant-position: super;
    font-family: var(--main-font);
    position: relative;
    top: -0.05em;
}



/* -- article -- */

article {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}


/* -- footer -- */

footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
}

footer a,
footer a:hover,
footer a:visited
{
    color: var(--footer-link-color);
}

footer {
    text-align: center;
    font-size: 80%;
}

footer p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer p:first-child {
    margin-top: 1rem;
}


/* -- other -- */

#edit-link {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#edit-link::before {
    content: "‖ ";
}

#edit-link::after {
    content: " ‖";
}
